:root {
  --color-white: #ffffff;
  --color-grey: #f5f4f1;
  --color-primary: #e44546;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-grey);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 15px;
  }
}
