.mr-2 {
  margin-bottom: 2rem;
}
.mr-4 {
  margin-bottom: 4rem;
}

.fade-enter {
  opacity: 0;
  overflow: hidden;
  max-height: 0px !important;
}

.fade-enter-active {
  max-height: 100% !important;
  opacity: 1;
  transition: all 500ms;
  overflow: hidden;
}

.fade-exit {
  max-height: 100% !important;
  overflow: hidden;
  opacity: 1;
}

.fade-exit-active {
  overflow: hidden;
  max-height: 0 !important;
  opacity: 0;
  transition: all 500ms;
}
