.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-white);
  padding: 1.2rem 3rem;
  font-size: 1.9rem;
  letter-spacing: 0.6px;
  font-weight: 400;
  border-radius: 15px;
  line-height: 1.2;
}
