.form {
  &__group {
    margin-bottom: 4.5rem;

    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }
  }

  &__label {
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    width: 46rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid currentColor;
    font-family: "Product Sans";
    outline: none;
    padding: 2rem 0;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 0.02em;
    color: var(--color-primary-light);
    font-style: italic;
    font-weight: 300;

    &:focus {
      color: var(--color-primary);
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 85vw;
    }
  }

  &__btn {
    display: block;
    margin-left: auto;
  }
}
