.footer {
  position: relative;
  margin: 0 auto;
  background-color: rgba(#ffffff, 0.4);
  padding: 9rem 0 8.2rem;
  display: grid;

  grid-template-columns: minmax(5rem, 1fr) minmax(auto, 109.2rem) minmax(
      5rem,
      1fr
    );
  justify-content: center;

  &__container {
    grid-column: 2 / 3;
    grid-template-columns: 35% 1fr;
    align-items: end;
    justify-items: start;
    grid-column-gap: 8.5rem;
    display: grid;

    @media only screen and (max-width: $bp-large) {
      grid-column-gap: 6rem;
      grid-template-columns: 40% 1fr;
    }
    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }

  &__details {
    @media only screen and (max-width: $bp-small) {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 6rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
    }

    & > a {
      @media only screen and (max-width: $bp-small) {
        justify-content: center;
      }
    }
  }

  &__text {
    margin-top: 2rem;
    letter-spacing: 0;
  }

  &__links {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2rem;
    grid-auto-flow: column;

    @media only screen and (max-width: $bp-large) {
      margin-left: 0;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 3fr 4fr;
    }
  }
}
