.footer {
  grid-template-columns: minmax(5rem, 1fr) minmax(max-content, 109.2rem) minmax(
      5rem,
      1fr
    );
  margin: 0 auto;
  background-color: rgba(#ffffff, 0.4);
  padding: 9rem 0 8.2rem;
  display: grid;

  &__container {
    grid-column: 2 / 3;
    grid-template-columns: 35% 1fr;
    align-items: end;
    justify-items: start;
    grid-column-gap: 8.5rem;
    display: grid;
  }

  &__text {
    margin-top: 2rem;
    letter-spacing: 0;
  }

  &__links {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2rem;
    grid-auto-flow: column;
  }
}
