.footer {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 9rem 0 8.2rem;
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: end;
  justify-items: start;
  grid-column-gap: 8.5rem;

  &__text {
    margin-top: 2rem;
    letter-spacing: 0;
  }

  &__links {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2rem;
    grid-auto-flow: column;
  }
}
