.header {
  display: grid;
  grid-template-columns: 10% minmax(max-content, 120rem) 10%;
  grid-template-rows: min-content;
  justify-content: center;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  height: 70.9rem;

  &__text {
    grid-column: 2 / 3;

    display: block;
    width: 50%;
    padding: 0 0.3rem;

    position: absolute;
    top: 21.5rem;
  }

  &__img {
    width: 528px;
    height: 609px;
    background-image: url("../../img/students.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0.6rem;
    right: 14rem;
  }
}

.nav {
  grid-column: 2 / 3;
  padding: 3rem 0.3rem 0;
  display: flex;
  align-items: center;

  &__brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  &__brand-logo {
    height: 5.438rem;
  }

  &__list {
    display: flex;
    gap: 4rem;
    margin-left: auto;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-primary-dark);
    text-decoration: none;
    display: block;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.1px;
    transition: color 0.3s ease;
  }
  &__link:hover,
  &__link:active {
    color: var(--color-secondary);
  }
}
